<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{!-- Блок шапки сайта --}}
    {{>templates/header}}

    <div class="wrapper mt25">
        {{!-- Блок страницы --}}
        {{{ body }}}
    </div>

    {{>add/modal}}

    <script src="/js/main.js"></script>
</body>

</html>