<a href="/profile" class="mini-profile">
    <img class="avatar" src="{{ user.avatar }}">
    <div class="info">
        <div class="nickname">{{ user.nickname }}</div>
        <div class="name">{{ user.name }}</div>
    </div>
</a>