<div class="profile">
    {{>profile/info}}
    {{#if error}}
        <p class="error_text">{{message}}</p>
    {{/if}}

    <div id="profile_list" class="content">
        {{!-- {{>profile/post}}
        {{>profile/post}}
        {{>profile/post}}
        {{>profile/post}} --}}
        {{#each posts}}

            {{>profile/post}}

            {{else}}
            <p class="empty_text">Публикаций не обнаружено</p>

        {{/each}}
    </div>
</div>

{{>full_post/modal}}
{{>add/modal}}
{{>change_profile/modal}}