<div class="comments">
    <div class="comm author">
        <span>{{ nickname }}</span> {{ comment }}
    </div>

    

    {{!-- <div class="comm">
        <span>Username</span> текст моего комментария
    </div>
    <div class="comm">
        <span>Username</span> текст моего комментария
    </div>
    <div class="comm">
        <span>Username</span> текст моего комментария
    </div> --}}
</div>