<div class="header">
    <a href="/{{ nickname }}" class="col-1">
        <img class="avatar" src="{{ avatar }}">
        <div class="name">{{ nickname }}</div>
    </a>
    {{!-- <div class="col-1 right">
        <div class="button__content">
            <div class="button"></div>
        </div>
    </div> --}}
</div>