<div class="header">
    <a href="" class="col-1">
        <img class="avatar" src="">
        <div class="name" id="full_post_name"></div>
    </a>
    <div class="col-1 right">
        <div class="button__content">
            <div class="button"></div>
        </div>
    </div>
</div>