<div class="navigation">
    <div class="group">
        {{!-- SVG кнопки --}}
        <div class="like">{{>buttons/like_button}}</div>
        {{!-- <div class="comment">{{>buttons/comment_button}}</div> --}}
    </div>

    <div class="likes">
        <span>0</span> отметок "Нравится"
    </div>
</div>